*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}



.herosection{
    height: 70vh;
    color: white;
    position: relative;

}

.netflixname{
    height: 10vh;
    width: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signin{
    background-color: rgb(229,9,20);
    border-radius: 0.3rem;
    color: white;
    width: 12vmin;
    height: 5vmin;
    padding: 2vmin;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vmin;
    border: 0;
}

i{
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    align-items: center;
    margin: 2vmin 20vmin;
    position: absolute;
    top: 0px;
}

body{
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
}

.language{
    background-color:rgba(32, 32, 32, 0.8);
    border: 1px solid grey;
    border-radius: 0.3rem;
    height: 5vmin;
    width: 18vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

#languageicon{
    margin-left: -5.2rem;
}

#selectlanguage{
    color: white;
    background-color: transparent;
    border-radius: 0.3rem;
    border: 0;
    font-size: medium;
    outline: none;
    width: 16vmin;
    margin-left: 15px;
    position: absolute;
    cursor: pointer;
}

option{
    color: black;
}

.headercorner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroboxinfo{
    height: 50vh;
    width: 80vw;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 0;
    margin-top: 200px;
    margin-left: 130px;
}

h1{
    font-size: 3rem;
    font-weight: bolder;
}

#planrate{
    margin-bottom: 30px;
    font-size: 1.3rem;
    margin-left: 24rem;
}


#membershipmsg{
    margin-bottom: 20px;
    margin-left: 17rem;
}

.getemail{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox{
    height: 3.5rem;
    background-color:rgba(32, 32, 32, 0.8);
    border: 1px solid grey;
    border-radius: 0.3rem;
    width: 23rem;
    color: white;
    text-align:left;
    outline: none;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 1px;
}

#getstarted{
    height: 3.5rem;
    border-radius: 0.5rem;
    background-color: rgb(229,9,20);
    width: 12rem;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 10px;
    border: 0;
}

#starticon{
    font-size: small;
    margin-left: 10px;
}

#backgroundimg{
    opacity:calc(0.3);
}

.form-label{
    position: absolute;
    left: 17rem;
    top: 17rem;
    cursor: text;
    font-size: 18px;
    color: rgb(233, 230, 230);
    transition: top 200ms ease, left 200ms;
}

.textbox:focus ~ .form-label,
.textbox:not(:placeholder-shown).textbox:not(:focus)~ .form-label{
    font-size: 14px;
    transform: translate(-5px, 5px) skewX(3px);
    top: 16.2rem;
} 

.textbox:focus{
    border: 3px white solid;
}

.curvestyle{
    height: 100px;
    width: 100%;
    margin-top: 10.3rem;
    background-image: url(Screenshot\ 2025-10-08\ 170330.png);
    background-size: cover;
    position: absolute;
}

.content{
    height: 2500px;
}

.trending{
    height: 300px;
    width: 1000px;
    position: absolute;
    left: 0;
    top: 45rem;
    margin: 10px 170px 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

ul{
    list-style-type:none;
}

.box{
    border-radius: 8px;
    height: 250px;
    width: 180px;
}

.box1{
    background-image: url(bads\ of\ bollywood.webp);
    background-size: cover;
}

.box2{
    background-image: url(narshimha.webp);
    background-size: cover;
}

.box3{
    background-image: url(Saiyaara.webp);
    background-size: cover;
}

.box4{
    background-image: url(war2.webp);
    background-size: cover;
}

.box5{
    background-image: url(wednesday.webp);
    background-size: cover;
}

.countbox{
    position: relative;
    top: 120px;
    left: -25px;
    text-align: left;
    font-size: 6rem;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    gap: 15px;
    -webkit-text-stroke: 1.5px white;
}

.reasontojoin{
    color: white;
    position: relative;
    top: 38rem;
    text-align: left;
    margin-left: 9.2rem; 
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.reasons{
    height: 300px;
    width: 1050px;
    position: relative;
    left: 0;
    top: 38rem;
    margin: 10px 150px 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reason{
    border-radius: 10px;
    height: 300px;
    width: 250px;
    background: linear-gradient(
                    149deg,
                    #192247 0%,
                    #210e17 96.86%
                );
    font-family: Arial, Helvetica, sans-serif;

    
}


.reason h2, p{
    text-align: left;   
    margin-top: 23px;
    margin-left: 14px;
}

.reason p{
    color: grey;
    padding-right: 25px;
}

.logo{
    height: 5rem;
    width: 5rem;
    margin-left: 150px;
}

.tvlogo{
    background-image: url(tv\ logo.png);
    background-size: cover;
    margin-top: 55px;
}

.downloadlogo{
    background-image: url(download\ icon.png);
    background-size: cover;
    margin-top: 30px;
}

.poplogo{
    background-image: url(pop\ logo.png);
    background-size: cover;
    margin-top: 70px;
}

.facelogo{
    background-image: url(face\ logo.png);
    background-size: cover;
    margin-top: 25px;
}

.frequentlyquestion{
    position: relative;
    top: 27rem;
    text-align: left;
}

#Questions{
    text-align: left;
    margin-left: 9.2rem;
}

.allquestion{
    margin-left: 9.4rem;
    width: 1050px;
    margin-top: 10px;
}

li{
    margin-bottom: 8px;
    height: 84px;
    width: 1050px;
    background-color: rgb(45, 45, 45);
    border: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;
}

.info{
    margin-bottom: 8px;
    margin-top: -4px;
    width: 1050px;
    background-color: rgb(45, 45, 45);
    border: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: text;
}

.info1{
    height: 230px;
}

.info p{
    color: white;
    margin-right: 30px;
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 0;
}

.info p:hover{
    background: none;
    background-color: transparent;
    opacity: 1;
}

.info2{
    height: 100px;
}

.info3{
    height: 280px;
}

.info4{
    height: 140px;
}

.info5{
    height: 120px;
}

.info6{
    height: 200px;
}

li span{
    color: white;
    margin-right: 30px;
    font-size: 45px;
    font-weight: 100;
}


h3{
    color: white;
    text-align: left;
    margin-left: 20px;
    font-weight: normal;
    font-size: 25px;
}

.loginemailfooter{
    position: relative;
    top: 30rem;
}

.getemailfooter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginemailfooter p{
    text-align: center;
    margin-bottom: 20px;
}

.textboxfooter{
    width: 550px;
    height: 50px;
    background-color:rgba(32, 32, 32, 0.8);
    border: 1px solid grey;
    border-radius: 0.3rem;
    color: white;
    text-align:left;
    outline: none;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 1px;
}

.form-labelfooter{
    position: absolute;
    left: 300px;
    top: 55px;
    cursor: text;
    font-size: 18px;
    color: rgb(233, 230, 230);
    transition: top 200ms ease, left 200ms;
}

.textboxfooter:focus ~ .form-labelfooter,
.textboxfooter:not(:placeholder-shown).textboxfooter:not(:focus)~ .form-labelfooter{
    font-size: 12px;
    transform: translate(-5px, 5px) skewX(5px);
    margin-left: 10px;
    top: 2.8rem;
}

.textboxfooter:focus{
    border: 3px white solid;
}

#getstartedfooter{
    height: 3.5rem;
    border-radius: 0.5rem;
    background-color: rgb(229,9,20);
    width: 12rem;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    border: 0;
    margin-left: 10px;
}

.Questioncall{
    color: rgba(255, 255, 255, 0.7);
    position: relative;
    top: 35rem;
    text-align: left;
    left: 9.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#helpno{
    color:rgba(255, 255, 255, 0.7);
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footerinfo{
    position: relative;
    top: 38rem;
    height: 130px;
    margin: 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.infoboxfooter{
    height: 130px;
    width: 220px;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    gap: 1rem;
}

.column a{
    color: rgba(255, 255, 255, 0.7);
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 14px;
}

#footerlang{
    position: relative;
    top: 42rem;
    left: 9.4rem;
}

.footernetflixindia{
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    position: relative;
    top: 45rem;
    left: -30.8rem;
}

.footerlearnmore{
    position: relative;
    top: 50rem;
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    left: -17rem;
}

.footerlearnmore a{
    color: rgb(63, 146, 253);
    font-family: Arial, Helvetica, sans-serif;
}

.allquestion :hover{
    background-color: rgba(255, 255, 255, 0.12);
    transition: 0.25s;
}


.box:hover{
    height: 280px;
    width: 200px;
    transition: 0.2s;
}


.infonone{
    display: none;
}

.infoflex{
    display: flex;
}